@model dreviny.Models.Odruda

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Odruda</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NazevOdrudy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NazevOdrudy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DruhStromu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DruhStromu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Vzrust)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Vzrust)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Odolnost)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Odolnost)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Kveteni)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Kveteni)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sklizeň)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sklizeň)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Plod)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Plod)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ruzne)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ruzne)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
